/* Coolors Exported Palette - coolors.co/0065a4-253031-c5c5c5-4c5b61-055864 */

/* HSL */
$color1: hsla(203%, 100%, 32%, 1);
$color2: hsla(185%, 14%, 17%, 1);
$color3: hsla(0%, 0%, 77%, 1);
$color4: hsla(197%, 12%, 34%, 1);
$color5: hsla(188%, 90%, 21%, 1);

/* RGB */
$color1: rgba(0, 101, 164, 1);
$color2: rgba(37, 48, 49, 1);
$color3: rgba(197, 197, 197, 1);
$color4: rgba(76, 91, 97, 1);
$color5: rgba(5, 88, 100, 1);